
#pageTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 2000;
    width: 56px;
    height: 56px;
    background: url(../img/ico_arrow.png) no-repeat 50% 50% #aaa;
    background-size: 25px 15px;
    border-radius: 50%;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);

    &:hover {
        box-shadow: none;
    }
}