@charset 'UTF-8';

/* -----------------------
 SideNavigation
 ----------------------- */
nav {
  position: fixed;
  top: 50px;
  right: 20px;
  display: flex;
  z-index: 900;

  .sp {
    display: none;
  }

  .nav_title {
    width: 18px;
    margin-left: mgn(3);
  }

  .nav_list {
    padding: mgn(8) mgn(3);
    background: #ccc;
    border-radius: r(5);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);

    a {
      position: relative;
      display: block;
      width: 14px;
      height: 14px;
      background: white;
      border: solid 1px #666;
      border-radius: 50%;
      -webkit-transition: background 0.3s;
      transition: background 0.3s;
      text-decoration: none;
      cursor: pointer;

      &:not(:last-of-type) {
        margin-bottom: mgn(3);
      }

      &:hover {
        background: #666;

        .balloon {
          display: block;
        }
      }

      &.active {
        background: #666;
      }

      .balloon {
        @include fs(14);

        position: absolute;
        top: calc(50% - 25px);
        right: 50px;
        display: none;
        padding: mgn(2) mgn(4);
        background: #666;
        border-bottom: solid 8px #cccccc;
        color: white;
        font-weight: 700;
        white-space: nowrap;

        &:after {
          position: absolute;
          top: calc(50% - 12px);
          right: -36px;
          content: "";
          display: block;
          border-left: solid 18px #666;
          border-right: solid 18px transparent;
          border-top: solid 12px transparent;
          border-bottom: solid 12px transparent;
        }

        &:before {
          position: absolute;
          top: calc(50% - 4px);
          right: -36px;
          content: "";
          display: block;
          border-left: solid 18px #ccc;
          border-right: solid 18px transparent;
          border-top: solid 12px transparent;
          border-bottom: solid 12px transparent;
        }
      }
    }
  }
}