@charset 'UTF-8';

/* -----------------------
 Slick
 ----------------------- */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

/* slider */
.slick-prev,
.slick-next {
  &:before {
    color: black;
  }
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider {

  .slick-track,
  .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;

  &:before,
  &:after {
    display: table;
    content: '';
  }

  &:after {
    clear: both;
  }
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;

  [dir='rtl'] & {
    float: right;
  }

  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev,
.slick-prev {

  &:hover,
  &:focus {
    color: transparent;
    outline: none;
    background: transparent;
  }

  &:hover:before,
  &:focus:before {
    opacity: 1;
  }

  &.slick-disabled:before {
    opacity: .25;
  }

  &:before {
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: black;
  }
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  li {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 2px;
    padding: 0;
    cursor: pointer;

    button {
      display: block;
      width: 16px;
      height: 16px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;

      &:hover,
      &:focus {
        outline: none;

        &:before {
          opacity: 1;
        }
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 12px;
        height: 12px;
        content: '';
        text-align: center;
        opacity: .25;
        border-radius: 6px;
        background: black;
      }
    }

    &.slick-active button:before {
      opacity: .75;
      color: black;
    }
  }
}