//  Google tag (gtag.js) 
script(async, src="https://www.googletagmanager.com/gtag/js?id=G-JQLW1Q9YTY")
script.
  
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-JQLW1Q9YTY');
  
meta(charset='UTF-8')
title Flyby Anomalies フライバイ・アノマリーズ 重力と特異点
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel="icon", href="/favicon.svg", type="image/svg+xml")

= '\n'
meta(name="title" content="Flyby Anomalies フライバイ・アノマリーズ 重力と特異点")
meta(name="description" content="Flyby Anomalies フライバイ・アノマリーズ 重力と特異点 2025.11.29 東京藝術大学 上野キャンパス")
meta(name="author" content="Flyby Anomalies")
meta(property="og:title" content="Flyby Anomalies フライバイ・アノマリーズ 重力と特異点")
meta(property="og:description" content="Flyby Anomalies フライバイ・アノマリーズ 重力と特異点 2025.11.29 東京藝術大学 上野キャンパス")
meta(property="og:type" content="website")
meta(property="og:url" content="https://flybyanomalies.github.io/")
meta(property="og:image" content="https://flybyanomalies.github.io/ogp.png")
meta(property="og:site_name" content="Flyby Anomalies")
meta(property="og:locale" content="ja_JP")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="Flyby Anomalies フライバイ・アノマリーズ 重力と特異点")
meta(name="twitter:description" content="Flyby Anomalies フライバイ・アノマリーズ 重力と特異点 2025.11.29 東京藝術大学 上野キャンパス")
meta(name="twitter:image" content="https://flybyanomalies.github.io/ogp.png")

= '\n'
link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
link(href!='https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap' rel='stylesheet')
link(href!='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap' rel='stylesheet')
link(rel="stylesheet" href=path+"assets/css/common.css")

block css
block js
