@use '../utils/all' as *;
@use "sass:color" as *;

.btn {
  font-weight: 600;

  display: block;

  width: 100%;
  margin: 0 auto;

  text-align: center;
    transition: .2s;

  color: white !important;
  text-decoration: none !important;
  &.pink {
    background-color: $pink;
  }
  &.blue {
    background-color: $blue;
  }
  &.green {
    background-color: $green;
  }
}

.btn-s {
  line-height: 2.5em;

  max-width: 220px;
  height: 2.5em;

  border-radius: 1.25em;
}

.btn-m {
  line-height: 3.5em;

  max-width: 300px;
  height: 3.5em;

  border-radius: 1.75em;
}
.btn-l {

  max-width: 300px;
  height: 5em;

  border-radius: 1em;
}